# Solana Configuration
SOLANA_RPC_URL="https://api.devnet.solana.com"
SOLANA_PROGRAM_ID="AwpXvWoWUCV7gcqzgzazyLcGujiWfDWHajJKYhZz23YC"
SOLANA_FEE_PAYER_SECRET_KEY=[your,secret,key,array]
NODE_SERVICE_PORT=3000

BRIDGE_HMAC_SECRET="put your HMAC secret here"
SKIP_HMAC_AUTH=true